body {
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 400px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid blue;
  box-sizing: border-box;
  font-weight: bold;
  margin-bottom: 4px;
}

button {
  color:white;
  background-color: blue;
  padding: 5px 20px;
  border: 1px solid blue;
  font-weight: bold;
}

.title-closed-btn {
  width: 100%;
  text-align: start;
}

.title-open-btn {
  color: blue;
  background-color: white;
  width: 100%;
  text-align: start;
}

#sub-label {
  width: 100;
}


#input-sub-el {
  margin: 10px 30px;
  box-sizing: border-box;
  width: 70%;
}

#delete-btn {
  color: blue;
  background-color: white;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 20px;
}

li {
  margin-top: 5px;
}

li a {
  color: blue;
}